<a href="#" class="image"><img src="./images/uni_pune_logo.jpg" alt=""></a>

<div class="content">
	<h3 class="major">
		Bachelor of Engineering
		<small>@ University of Pune, </small>
		<small>
			July 2010 - May 2014<br>
			<div style="float:right"> GPA - 3.4/4.0</div>
		</small>
	</h3>
	<p>Bachelor of Engineering in Information Technology.</p><br>

	<h4>Courses</h4>
	<div>
		<ul style="float:left;position:relative;width:50%">
			<li>Design and Analysis of Algorithms</li>
			<li>Operating Systems</li>
			<li>Computer Architechture</li>
			<li>Theory of Computation</li>
			<li>Database Management Systems</li>
		</ul>
		<ul style="float:left;position:relative">
			<li>Object Oriented Modelling & Design</li>
			<li>System Software Programming</li>
			<li>Geo Informatics Systems</li>
			<li>Mobile Computing</li>
			<li>Distributed Systems</li>
		</ul>
	</div>
	<br style="clear: both;">
	<a class="read-more-link" target="_blank" href="documents/SPPU_transcript.pdf">Read more</a>
</div>