<a href="#" class="image"><img src="./images/sip.png" alt=""></a>

<div class="content">
	<h3 class="major">
		Intern
		<small>@ <a target="_blank" href="http://www.computer-home.com/wp-chpl/index.php">Computer Home, Pune, </a></small>
		<small class="smaller">June 2013 - May 2014</small>
	</h3>
	<h4>Integrated Social Platform</h4>
	<p>
		Designed a web based platform which Integrates feed from social networks such as Facebook, Twitter, Linkedin and does sentiment analysis on the feed, created using Ruby on Rails, MySQL, HTML, CSS & JS.

		<li>Integrated Social Wall</li>
		<li>Publish on all social media with click of button.</li>
		<li>Collect the feedback of published pages/articles/blogs and show the same into their application.</li>
		<li>Sentiment Analysis of the people’s response on the user’s posts.</li>
		<li>Social Plugins for people to embed in their websites.</li>
		<li>Full Stack Authentication System.</li>
	</p>
	<a class="read-more-link" target="_blank" href="documents/sip_report.pdf">Read more</a>
</div>