<a target="_blank" href="https://www.sparkpost.com" class="image">
	<img src="../images/sparkpost.png" alt="">
	<!-- <img src="../images/sparkpost_stickers_collage.jpg" alt=""> -->
</a>

<div class="content">
	<h3 class="major">
		Application Engineer Intern​
		<small>@ <a target="_blank" href="https://www.sparkpost.com">SparkPost, Baltimore. </a></small>
		<small class="smaller">May 2017 - Aug 2017</small>
	</h3>
	<h4>Part of the Enterprise Application Team</h4>
	<p>
		<li>Consolidated and optimized multiple microservices used by the SparkPost API
endpoints built in Nodejs following a Kanban methodology.</li>
		<li>Collaborated on the transition from Angularjs to Reactjs in the web UI.</li>
		<li>Evaluated the use of Cassandra and Vertica in a highly scalable and distributed
architecture.</li>
		<li> Create a new slack plugin which will track ongoing deployments and notify others about them as a part of the annual Hackathon.</li>
	</p>
	<a class="read-more-link" target="_blank" href="https://www.sparkpost.com">Read more</a>
</div>