<a href="#" class="image"><img src="./images/umbc_logo.png" alt=""></a>

<div class="content">
	<h3 class="major">
		Master in Science in CS
		<small>@ <a target="_blank" href="http://www.umbc.edu/">University of Maryland, Baltimore County</a></small>
		<small>
			August 2016 - May 2018
			<div style="float:right"> GPA - 3.9/4.0</div>
		</small>

	</h3>
	<p>
	</p>
	<h4>Courses</h4>
	<div style="display:table;margin-right: -15px;margin-left: -15px;width:120%">
		<ul style="float:left;position:relative;width:50%">
			<li>Design and Analysis of Algorithms (CMSC 661)</li>
			<li>Advanced Operating Systems (CMSC 621)</li>
			<li>Service Oriented Computing (CMSC 668)</li>
		</ul>
		<ul style="float:left;position:relative;">
			<li>Advanced Computer Architecture (CMSC 611)</li>
			<li>Machine Learning (CMSC 678)</li>
			<li>Virtual Reality (CMSC 691)</li>
		</ul>
	</div>
	<h4>Projects</h4>
	<ul>
		<li>
			<b>Shopping Planner</b><br>
			Developed a web-application to implement a flavor of TSP using the nearest neighbor algorithm. Used mongoDB geospatial queries and aggregation pipeline to filter the input to the algorithm, thus reducing the total time. Create a RESTful API using nodeJS. Use Google Maps & Directions Javascript API on the frontend.
			<br><a class="read-more-link" target="_blank" href="documents/shopping_planner_report.pdf">Read more</a>
			<br style="clear:both">
		</li>
			<br>
		<li>
			<b>Benchmarking and Programming Language Comparator</b><br>
			Compare Go, Elixir & Scala by writing programs in selected domains and benchmark them for memory and time. Study design patterns, architectures and programming aspects used in these languages.
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<br><a class="read-more-link" target="_blank" href="documents/case_study_programming_languages_report.pdf">Read more</a>
			<br style="clear:both">
		</li>
	</ul>
</div>