<a href="http://www.umbc.edu/" class="image"><img src="./images/umbc_logo.png" alt=""></a>

<div class="content">

	<h3 class="major">
		Master in Science in CS
		<small>@ <a target="_blank" href="http://www.umbc.edu/">University of Maryland, Baltimore County. </a></small>
		<small class="smaller">
			<br>August 2016 - May 2018
			<div style="float:right"> GPA - 3.9/4.0</div>
		</small>
	</h3>

	<p>Graduate Assistant for CMSC 203 (Discrete Structures).</p>
	<br>

	<h4>Courses</h4>
	<div>
		<ul class="courses_left">
			<li>Design and Analysis of Algorithms (CMSC 661)</li>
			<li>Advanced Operating Systems (CMSC 621)</li>
			<li>Service Oriented Computing (CMSC 668)</li>
		</ul>
		<ul class="courses_right">
			<li>Advanced Computer Architecture (CMSC 611)</li>
			<li>Machine Learning (CMSC 678)</li>
			<li>Virtual Reality (CMSC 691)</li>
		</ul>
	</div>
	<br clear="all">

	<h4>Projects</h4>
	<ul>
		<li>
			<b>Space Visualization and Rendering Evaluation</b><br>
			Implemented 3 techniques for displaying voxelized data in VR, to measuring their effects on realism, performance, and scalability.<br>
			Unity-3D, C#, SteamVR, HL/SL (shader), Matlab.
			<br><a class="read-more-link" target="_blank" href="documents/vr_report.pdf">Read more</a>
			<br style="clear:both">
		</li>

		<li>
			<b>Gender Recognition using Voice</b><br>
			Classify human voice as male / female using various models and use ensemble techniques such as PCA, Voting to boost accuracy to around 96%.<br>
			Python 3.6, Scikit-learn, R, warbleR.
			<br><a class="read-more-link" target="_blank" href="documents/ml_report.pdf">Read more</a>
			<br style="clear:both">
		</li>
		<li>
			<b>MIPS Scoreboard simulator</b><br>
			Build a MIPS Scoreboard simulator to schedule a pipeline of processor instructions in Java to support out of order execution, handling data dependency and ensure safe execution of all the processes.<br>
			<a class="read-more-link" target="_blank" href="https://github.com/vinzee/MIPS">Read more</a>
			<br style="clear:both">
		</li>

		<li>
			<b>Shopping Planner</b><br>
			Developed a web-application to solve a flavor of TSP using the nearest neighbor algorithm. Used mongoDB geospatial queries and aggregation pipeline to filter the input to the algorithm, thus reducing the total time. Create a RESTful API using nodeJS. Use Google Maps & Directions Javascript API on the frontend.
			<a class="read-more-link" target="_blank" href="documents/soc_report.pdf">Read more</a>
			<br style="clear:both">
		</li>
			<br>
		<li>
			<b>Benchmarking and Programming Language Comparator</b><br>
			Compare Go, Elixir & Scala by writing programs in selected domains and benchmark them for memory and time. Study design patterns, architectures and programming aspects used in these languages.
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="read-more-link" target="_blank" href="documents/os_report.pdf">Read more</a>
			<br style="clear:both">
		</li>
	</ul>
</div>