<a href="#" class="image"><img src="../images/sparkpost.png" alt=""></a>

<div class="content">
	<h3 class="major">
		Software Engineer Intern​
		<small>@ <a target="_blank" href="https://www.sparkpost.com">SparkPost, Baltimore. </a></small>
		<small class="smaller">May 2017 - Aug 2017</small>
	</h3>
	<h4>Part of the Enterprise Application Team</h4>
	<p>
		<li>Worked on the Sparkpost Email API’s built in nodeJS and expressJS.</li>
		<li>Contributed to the frontend angularJS application working on features and bug fixes.</li>
		<li>Worked with Cassandra (a long column database) for the very first time.</li>
	</p>
	<!-- <a class="read-more-link" target="_blank" href="documents/sip_report.pdf">Read more</a> -->
</div>