<a target="_blank" href="https://www.irc.umbc.edu/" class="image">
	<img src="../images/irc.svgz" alt="">
</a>

<div class="content">
	<h3 class="major">
		Research Assistant
		<small>@ <a target="_blank" href="https://www.irc.umbc.edu/">IRC, UMBC. </a></small>
		<small class="smaller">Sept 2017 - Current</small>
	</h3>

	<h4>Part of the <a target="_blank" href="https://maptu.irc.umbc.edu/">MapTu</a> Team</h4>
	<p>
		<li>Work on the API’s built in python3, websocket server using <a target="_blank" href="http://wamp-proto.org/">WAMP</a>.</li>
		<li>Contribute to the frontend application using <a target="_blank" href="https://aframe.io/">A-FrameJS</a> , <a target="_blank" href="https://vuejs.org/">vueJS</a> & web-sockets.</li>
		<li>Use PostGre as the database to write queries supporting advanced filters and predictive modelling.</li>
	</p>
	<a class="read-more-link" target="_blank" href="https://www.irc.umbc.edu/">Read more</a>
</div>