<h2 class="major">Other Activities</h2>

<p>Worked in a variety of technologies</p>

<section class="features">
	<article>
		<a href="#" class="image"><img src="./images/html5_canvas.jpg" alt=""></a>
		<h3 class="major">HTML5 canvas (Blog)</h3>
		<p>
			Intro to html5 canvas, and its differences with SVG.<br>
			Explain standard canvas API and other libraries written over it.
		</p>
		<a target="_blank" href="http://amuratech.com/blog/how-to-use-html5-canvas-as-a-next-gen-animation-tool" class="special">See More</a>
	</article>
	<article>
		<a href="#" class="image"><img src="./images/pune_ruby_meetup.png" alt=""></a>
		<h3 class="major">Web Sockets in Ruby on Rails</h3>
		<span>Seminar on Implementation of Web Sockets on the client-side using the standard API.<br/>
		Explain optimal concurrency models in Ruby -
			<ol>
				<li>Actor Pattern</li>
				<li>Reactor Pattern</li>
			</ol>
		</span>
		<a target="_blank" href="http://www.slideshare.net/amuratech/pune-ruby-meetup-november-2015" class="special">See More</a>
	</article>
	<article>
		<a href="#" class="image"><img src="./images/xbox_kinect.png" alt=""></a>
		<h3 class="major">Motion Sense Gaming in XBOX kinect </h3>
		<span>
			Study motion sense technology in 3 parts -
			<ol>
				<li>
					Structured Light Analysis<br>
					Stereo Match Making, Depth from Focus
				</li>
				<li>
					Machine Learning<br>
					K-means clustering, Forest Fire Algorithm, Decision Trees
				</li>
				<li>Body Tracking</li>
			</ol>
		</span>
		<a target="_blank" href="documents/xbox_kinect.pdf" class="special">See More</a>
	</article>
	<article>
		<a href="#" class="image"><img src="./images/techgig.jpg" alt=""></a>
		<h3 class="major">Ranked 5th in Code Gladiators</h3>
		<p>Participated in "Code Gladiators", a national-level coding competition organised by TechGig.<br/>
		I qualified for the finale round and was ranked 5th in Ruby on Rails category with a 99.80 Percentile and 63rd in general category .</p>
		<a target="_blank"  href="http://www.techgig.com/vineetahirkar" class="special">See more</a>
	</article>

	<article>
		<a href="#" class="image"><img src="./images/ruby_conf_collage.jpg" alt=""></a>
		<h3 class="major">Conferences / meetups</h3>
		<p>
			<ul>
				<li>Deccan Ruby Conf 2014</li>
				<li>Garden City Ruby Conf 2015</li>
				<li>Deccan Ruby Conf 2015</li>
				<li>Ruby Conf Goa 2015</li>
				<li>Ruby Conf Kochi 2015</li>
				<li>Pune Ruby Group</li>
				<li>Pune Javascript Group</li>
			</ul>
		</p>
		<a target="_blank"  href="http://www.techgig.com/vineetahirkar" class="special">See more</a>
	</article>

	<article>
		<a href="#" class="image"><img src="./images/dexterity.jpg" alt=""></a>
		<h3 class="major">Dexterity 2k14</h3>
		<p>
			<ul>
				<li>Designed, deployed and maintained a static Website for dexterity which showcased the details of all the competitions and events.</li>
				<li>Organised a technical quiz competition involving MCQs and coding questions.</li>
			</ul>

		</p>
	</article>
</section>

<!-- <ul class="actions">
	<li><a href="#" class="button">Browse All</a></li>
</ul> -->