<a target="_blank" href="https://www.irc.umbc.edu/" class="image">
	<img src="../images/irc.svgz" alt="">
</a>

<div class="content">
	<h3 class="major">
		Graduate Research Assistant
		<small>@ <a target="_blank" href="https://www.irc.umbc.edu/">IRC, UMBC. </a></small>
		<small class="smaller">Sept 2017 - May 2018</small>
	</h3>

	<h4>Part of the <a target="_blank" href="https://maptu.irc.umbc.edu/">MapTu</a> Team</h4>
	<p>
		<li><a target="_blank" href="https://maptu.irc.umbc.edu/">MapTu</a> is a tool for visualizing information and ideas as virtual objects in virtual 3D space.</li>

		<li>Collaborated with a team of 4 to design a web based tool allowing naive users to build beautiful VR environments.</li>
		<li>Proactively created a modern reactive single page app using Vuejs, Material Design and implemented backend APIs using Python, Postgre, Nginx, Docker.</li>
		<li>Allow multiple users to collaboratively edit the same virtual environment using websockets and CRDTs.</li>
	</p>
	<a class="read-more-link" target="_blank" href="https://www.irc.umbc.edu/">Read more</a>
</div>