<a href="http://amuratech.com/" class="image">
	<img src="./images/amura_logo.png" alt="">
	<br>
	<img src="./images/sell_do.png" alt="">
</a>

<div class="content">
	<h3 class="major">
		Senior Software Engineer
		<small>@ <a target="_blank" href="http://amuratech.com/">Amura Marketing Technologies, Pune</a></small>
		<p><small class="smaller">June 2014 - May 2016</small></p>
	</h3>
	<div>
		<p>Amura is a Digital Marketing Firm having a core ERP product called sell.do and other related products where my role was mainly as a Full stack web development working in an agile environment with a team of 5-6 people.</p><br>

		<p>My accomplishments at Amura are as follows -</p>
		<ul>
			<li>Collaborated with the team to design and build scalable
microservices and automated workflows using Ruby, Ruby on Rails, Nginx.</li>
			<li>Explore, understand and introduce the team to better design patterns to increase productivity and build scalable web applications.</li>
			<li>Improvised the performance of digital marketing campaigns by 20% by designing
an ETL tool to extract and analyze data from previous campaigns.</li>
			<li>Identified and analyzed the bottlenecks occurred both in web UI and backend
services while building enterprise web applications and restructuring workflows
accordingly to handle upto a hundred thousand concurrent users using
BackboneJS, New-Relic, Ruby, Sidekiq.</li>
		</ul>

	</div>
	<!-- <a class="read-more-link" href="#" class="special">Read more</a> -->
</div>