<a target="_blank" href="https://www.irc.umbc.edu/" class="image">
	<img src="../images/irc.svgz" alt="">
</a>

<div class="content">
	<h3 class="major">
		Research Assistant
		<small>@ <a target="_blank" href="https://www.irc.umbc.edu/">IRC, UMBC. </a></small>
		<small class="smaller">Sept 2017 - Current</small>
	</h3>

	<h4>Part of the <a target="_blank" href="https://maptu.irc.umbc.edu/">MapTu</a> Team</h4>
	<p>
		<li><a target="_blank" href="https://maptu.irc.umbc.edu/">MapTu</a> is a tool for visualizing information and ideas as virtual objects in virtual 3D space.</li>
		<li>Build a scalable microservices architecture using <a target="_blank" href="http://wamp-proto.org/">Web Application Messaging Protocol (WAMP)</a> and <a target="_blank" href="http://crossbar.io/">Crossbar.IO</a> in python.</li>
		<li>Build an awesome web-based interactive virtual environment using <a target="_blank" href="https://aframe.io/">A-FrameJS.</a></li>
		<li>Use <a target="_blank" href="https://vuejs.org/">vueJS</a> and <a target="_blank" href="https://material.io/">Material Design</a> to create a slick UI.</li>
		<li>Create a good orchestration of mongoDB and PostGre, according to the dataset being handled, to support advanced filters and predictive modelling.</li>
	</p>
	<a class="read-more-link" target="_blank" href="https://www.irc.umbc.edu/">Read more</a>
</div>