<a href="#" class="image"><img src="./images/amura_logo.png" alt=""></a>
<!-- <a href="#" class="sell_do_image"><img src="./images/sell_do.png" alt=""></a> -->

<div class="content">
	<h3 class="major">
		Senior Software Engineer
		<small>@ <a target="_blank" href="http://amuratech.com/">Amura Marketing Technologies, Pune</a></small>
		<small>June 2014 - May 2016</small>
	</h3>
	<p>
		<ul>
			<li>Core application development along with responsibilities such as documentation, testing, deployment, and mentoring new recruits.</li>
			<li>Worked in an agile environment with a Team of 10-15 people.</li>
			<li>Technologies worked on - Ruby, Ruby on Rails, mongoDB, Javascript, JQuery, Ajax, backboneJS, HTML & CSS, Bootstrap, Redis, Capistrano.</li>
			<li>
				Products worked on -
				<ol>
					<li><b><a target="_blank" href="http://sell.do/">sell.do</a></b><br>
					Handled microservices such as cloud telephony, bulk email and sms manager, automated reporting tools, worked on backboneJS to build a fluid UI, used Redis as a caching layer above the database.
					</li>
					<li>
						<b>advertise.sell.do</b><br>
						Analyzed metrics from raw data of marketing campaigns for making better campaigns in the future and targeting the perfect audience. Heavy use of dynamic collections and pre-aggregation in MongoDB, used Sidekiq for background jobs and Redis for job syncronization). Testing using Rspec and Capybara.
					</li>
					<li>
						<b><a target="_blank" href="http://www.irfs.in/">IRFS (Indian Realty Flash Sale)</a></b><br>
						Helped in building a real estate portal having features such as coupon generation and redemption. Customer tracking using Google Analytics and conversions using Facebook pixel.
					</li>
					<li>
						<b>Ad creative automation</b><br>
						Worked on HTML5 canvas and fabricJS to design a tool for creating ad banners for online marketing campigns. Used imagemagick for image processing, filtering & compression.
					</li>
					<li>
						<b><a target="_blank" href="http://pages.sell.do/">pages.sell.do</a></b><br>
						Designed a web based interactive tool to create responsive landing pages. Heavy use of backboneJS & Marionette going upto 150 views and 100 models at a time. Did webpage profiling and enhancements using chrome profiler. Managed concurrency of background jobs. Testing using Selenium, PhantomJS and
						Jasmine.
					</li>
				</ul>
			</li>
		</ol>
	</p>
	<!-- <a href="#" class="special">Read more</a> -->
</div>