---
layout: main
---

<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
		<header id="header" class="alt">
			{% include header.html %}
		</header>

	<!-- Banner -->
		<section id="banner">
			<div class="inner">
				{% include banner.html %}
			</div>
		</section>

	<!-- Wrapper -->
		<section id="wrapper">

			<!-- Two -->
			<section id="two" class="wrapper alt spotlight style2">
				<div class="inner">
					{% include stories/story_sparkpost.html %}
				</div>
			</section>

			<!-- One -->
			<section id="one" class="wrapper spotlight style1">
				<div class="inner">
					{% include stories/story_umbc.html %}
				</div>
			</section>

			<!-- Two -->
			<section id="two" class="wrapper alt spotlight style2">
				<div class="inner">
					{% include stories/story_amura.html %}
				</div>
			</section>

			<!-- Three -->
			<section id="three" class="wrapper spotlight style3">
				<div class="inner">
					{% include stories/story_chpl.html %}
				</div>
			</section>

			<!-- Four -->
			<section id="four" class="wrapper alt spotlight style2">
				<div class="inner">
					{% include stories/story_engg.html %}
				</div>
			</section>

			<!-- Five -->
			<section id="five" class="wrapper alt style1">
				<div class="inner">
					{% include stories/story_other.html %}
				</div>
			</section>

		</section>

	<!-- Footer -->
		<section id="footer">
			<div class="inner">
				{% include footer.html %}
			</div>
		</section>

</div>

	<!-- Menu -->
<nav id="menu">
	<div class="inner">
		<h2>Menu</h2>
		<ul class="links">
			<li><a href="index.html">Home</a></li>
		</ul>
		<a href="#" class="close">Close</a>
	</div>
</nav>