<div class="banner-flex">
		<div id="name_container">
			<h2 class="animation animation-1">Vineet Ahirkar</h2>
			<a target="_blank" class="icon_links" href="http://www.github.com/vinzee"><i class="fa fa-github"></i></a>
			<a target="_blank" class="icon_links" href="http://www.twitter.com/vinzee93" style="color: #4db3f3" ><i class="fa fa-twitter"></i></a>
			<a target="_blank" class="icon_links" href="http://stackoverflow.com/story/vineetahirkar"><i class="fa fa-stack-overflow"></i></a>
			<a target="_blank" class="icon_links" href="mailto:vineet.ahirkar@gmail.com"><i class="fa fa-envelope"></i></a>
		  	<a target="_blank" class="icon_links" href="https://drive.google.com/open?id=0B1Uk0ekeRELEMF83NlNra0FKcjA" style="color: #53b7b2b8" ><b>Resume</b></a>
		</div>
		<div id="profile_pic_container">
			<a href="#" class="image"><img class="profile_pic" src="./images/profile_pic.jpg" alt="s"></a>
		</div>
</div>

<br clear="all">

<div class="animation animation-2">
	<h4>Full Stack / Backend Developer</h4>
	<p>Software Engineer 2 @ <a href="https://www.mathworks.com/">MathWorks</a></p>
	<p>Master of Science in Computer Science @ University of Maryland, Baltimore County</p>
</div>

<div>
	<span id="headline_container" class="animation animation-3">
		<br><p><b>Things I like to do</b></p>

		<ul>
			<li>Implement scalable web app architectures and component designs.</li>
			<li>Prototype the scalable and visualised infrastructure for heterogeneous and multimedia data.</li>
			<li>Build application programming interfaces (APIs) for web services and REST layers.</li>
			<li>Implement web applications using latest frontend technologies such as React, Angular, Vue.</li>
			<li>Explore and compare the concurrency models used by technologies such as - Nginx, NodeJS, Elixir, etc.</li>
			<li>Get to know more about new web tech such as WebSockets, WAMP protocol, webRTC.</li>
			<li>Actively participate in Hackathons, Conferences, Meetups, Clubs.</li>
		</ul>

		<br>
	</span>
</div>

<br clear="all">