<div class="banner-flex">
		<div id="name_container">
			<div class="logo"><span class="icon fa-diamond"></span></div>
			<h2 class="animation animation-1">Vineet Ahirkar</h2>
		</div>
		<div id="profile_pic_container">
			<a href="#" class="image"><img class="profile_pic" src="./images/profile_pic.jpg" alt="s"></a>
		</div>
</div>

<br style="overflow: auto;">

<h4 class="animation animation-2">CS Graduate Student @ University of Maryland, Baltimore County</h4>
<p class="animation animation-2">Full-stack developer; Graduate Research Assistant; @ <a href="https://www.irc.umbc.edu/">IRC (UMBC)</a></p>

<div>
	<span id="headline_container" class="animation animation-3">
		<br><p><b>Things I like to do</b></p>

		<ul>
			<li>implement scalable web app architectures and component designs.</li>
			<li>prototype the scalable and visualised infrastructure for heterogeneous and multimedia data.</li>
			<li>build application programming interfaces (APIs) for web services and REST layers.</li>
			<li>implement web applications using latest frontend technologies such as React, Angular, Vue.</li>
			<li>explore and compare the concurrency models used by technologies such as - Nginx, NodeJS, Elixir, etc.</li>
			<li>hack into RaspberryPi to build simple IoT applications.</li>
			<li>deep dive in Virtual Reality through the webVR world.</li>
			<li>love to do know more about new web tech such as WebSockets, WAMP protocol, webRTC.</li>
			<li>analyse security vulnerabilities and find solutions to overcome them.</li>
			<li>analyse and visualise data using various machine learning techniques.</li>
			<li>New technologies, Hackathons, Conferences, Meetups, Clubs, Free Food.</li>
		</ul>

		Actively looking for <b>FULL-TIME</b> opportunities for 2018.<br>
		<br>
	</span>
	<div id="wordcloud_container">
		<a href="#" class="image"><img class="wordcloud" src="./images/wordcloud.png" alt="s"></a>
	</div>
</div>

<br clear="all">