<div class="banner-flex">
		<div id="name_container">
			<div class="logo"><span class="icon fa-diamond"></span></div>
			<h2>Vineet Ahirkar</h2>
		</div>
		<div id="profile_pic_container">
			<a href="#" class="image"><img class="profile_pic" src="./images/profile_pic.jpg" alt="s"></a>
		</div>
</div>

<br style="overflow: auto;">

<h4>CS Graduate Student @ University of Maryland, Baltimore County</h4>

<div>
	<span id="headline_container">
		<b>About Me</b><br>
		Passionate programmer, Quick learner, Team builder, Mentor.<br>
		Believe in learning something new and exciting everyday.<br>
		<br>

		Actively looking for <b>FULL-TIME</b> opportunities for 2018.<br>
		Full-stack, back end, front end scripting, android app development.<br>
		<br>

		<b>Work</b><br>
		Currently, a Research Assistant @ <a href="https://www.irc.umbc.edu/">IRC (UMBC)</a><br>
		Experience of 2.5 years as a full stack web developer
		@ <a href="https://www.sparkpost.com">SparkPost</a>
		, <a target="_blank" href="http://amuratech.com/">Amura</a>
		<br>
		<br>

		<b>Things I love</b><br>
		New technologies, Hackthons, Conferences, Meetups, Clubs, Free Food.<br><br>
	</span>
	<div id="wordcloud_container">
		<a href="#" class="image"><img class="wordcloud" src="./images/wordcloud.png" alt="s"></a>
	</div>
</div>

<br clear="all">