<div class="competitive_programming">
	<h4>Competitive Programming</h4>

	<a class="no_border" target="_blank" href="https://leetcode.com/vinzee93/">Leetcode</a>
	<a class="no_border" target="_blank" href="https://www.hackerrank.com/vineet_ahirkar">Hackerrank</a>
	<a class="no_border" target="_blank" href="https://www.codewars.com/users/vinzee">Codewars</a>
	<a class="no_border" target="_blank" href="http://www.techgig.com/vineetahirkar">Techgig</a>
</div>

<ul class="copyright">
	<li>© Vineet Ahirkar. All rights reserved.</li>
</ul>