<div id="github-feed-container">
	<h2>My Github Activities</h2>
	<div id="github-feed"></div>
</div>

<ul class="contact">
	<h4>Get in touch</h4>
	<li class="fa-phone">(240) 230-2969</li>

	<br/><br/>
	<h4>Competitive Programming Platforms</h4>
	<li class="fa-code"><a target="blank" href="https://www.hackerrank.com/vineet_ahirkar">hackerrank.com/vineet_ahirkar</a></li>
	<li class="fa-code"><a target="blank" href="https://www.codewars.com/users/vinzee">codewars.com/users/vinzee</a></li>
	<li class="fa-code"><a target="blank" href="http://www.techgig.com/vineetahirkar">techgig.com/vineetahirkar</a></li>
</ul>

<ul class="copyright">
	<li>© Vineet Ahirkar. All rights reserved.</li>
</ul>