<div class="contact">
	<br/>

	<h4>Competitive Programming</h4>

	<a class="no_border" target="_blank" href="https://leetcode.com/vinzee93/">
		<img class="leetcode_icon" src="../images/leetcode.png">
	</a>

	<a class="no_border" target="_blank" href="https://www.hackerrank.com/vineet_ahirkar">
		<img class="hackerrank_icon" src="../images/hackerrank.svg">
	</a>
	<a class="no_border" target="_blank" href="https://www.codewars.com/users/vinzee">
		<img class="codewars_icon" src="../images/codewars.png">
	</a>
	<a class="no_border" target="_blank" href="http://www.techgig.com/vineetahirkar">
		<img class="techgig_icon" src="../images/techgig.jpg">
	</a>
</div>

<ul class="copyright">
	<li>© Vineet Ahirkar. All rights reserved.</li>
</ul>