<h1>
	<a href="#">Vineet Ahirkar</a>
</h1>

<nav>
	<a target="top" class="fa fa-lg fa-envelope" href="mailto:vineeta1@umbc.edu"></a>
	<a target="blank" class="fa fa-lg fa-github" href="http://www.github.com/vinzee"></a>
	<a target="blank" style="color: #4db3f3" class="fa fa-lg fa-twitter" href="http://www.twitter.com/vinzee93"></a>
	<a target="blank" class="fa fa-lg fa-stack-overflow" href="http://stackoverflow.com/story/vineetahirkar"></a>
	<a target="_blank" href="https://drive.google.com/open?id=0B1Uk0ekeRELEWFZaZEFfOGJrMXM">Resume</a>
</nav>
