<!-- <h1>
	<a href="#">Vineet Ahirkar</a>
</h1> -->

<nav>
	<a target="_blank" class="icon_links" href="mailto:vineet.ahirkar@gmail.com"><i class="fa fa-lg fa-envelope"></i></a>
	<a target="_blank" class="icon_links" href="http://www.github.com/vinzee"><i class="fa fa-lg fa-github"></i></a>
	<a target="_blank" class="icon_links" style="color: #4db3f3" href="http://www.twitter.com/vinzee93"><i class="fa fa-lg fa-twitter"></i></a>
	<a target="_blank" class="icon_links" href="http://stackoverflow.com/story/vineetahirkar"><i class="fa fa-lg fa-stack-overflow"></i></a>
  <a target="_blank" href="https://drive.google.com/open?id=0B1Uk0ekeRELEMF83NlNra0FKcjA">Resume</a>
</nav>
